<a href="https://colab.research.google.com/github/ElenaGutarova/python_analiz/blob/main/Homework2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Условие 1: 1 задача

Скачать файл в уроке
Считать данные с помощью pandas
Вывести на экран первые 5 строк
Посмотреть на описание признаков и на их содержание

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("kc_final (1).csv")

In [16]:
df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650.0,1.0,0.0,...,7.0,1180.0,0.0,1955.0,0.0,98178.0,47.5112,-122.257,1340.0,5650.0
1,1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242.0,2.0,0.0,...,7.0,2170.0,400.0,1951.0,1991.0,98125.0,47.7210,-122.319,1690.0,7639.0
2,2,5631500400,2015-02-25,180000.0,2,1.00,770,10000.0,1.0,0.0,...,6.0,770.0,0.0,1933.0,0.0,98028.0,47.7379,-122.233,2720.0,8062.0
3,3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000.0,1.0,0.0,...,7.0,1050.0,910.0,1965.0,0.0,98136.0,47.5208,-122.393,1360.0,5000.0
4,4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080.0,1.0,0.0,...,8.0,1680.0,0.0,1987.0,0.0,98074.0,47.6168,-122.045,1800.0,7503.0

## Условие 2: 2 задача
Проведите первичный анализ данных
Изучите типы данных
Найдите количество пропущенных ячеек в данных
Посчитайте основные статистики по всем признакам и поизучайте их
Пишите выводы

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9239 entries, 0 to 9238
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     9239 non-null   int64
 1   id             9239 non-null   int64
 2   date           9239 non-null   object
 3   price          9239 non-null   float64
 4   bedrooms       9239 non-null   int64
 5   bathrooms      9239 non-null   float64
 6   sqft_living    9239 non-null   int64
 7   sqft_lot       9238 non-null   float64
 8   floors         9238 non-null   float64
 9   waterfront     9238 non-null   float64
 10  view           9238 non-null   float64
 11  condition      9238 non-null   float64
 12  grade          9238 non-null   float64
 13  sqft_above     9238 non-null   float64
 14  sqft_basement  9238 non-null   float64
 15  yr_built       9238 non-null   float64
 16  yr_renovated   9238 non-null   float64
 17  zipcode        9238 non-null   float64
 18  lat            9238 non-null   float64
 19  long           9238 non-null   float64
 20  sqft_living15  9238 non-null   float64
 21  sqft_lot15     9238 non-null   float64
dtypes: float64(17), int64(4), object(1)
memory usage: 1.6+ MB

In [18]:
df.describe()

,Unnamed: 0,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,9239.000000,9.239000e+03,9.239000e+03,9239.000000,9239.000000,9239.00000,9.238000e+03,9238.000000,9238.000000,9238.000000,...,9238.000000,9238.000000,9238.000000,9238.000000,9238.000000,9238.000000,9238.000000,9238.000000,9238.000000,9238.000000
mean,4619.000000,4.568204e+09,5.332278e+05,3.363459,2.061993,2051.40762,1.607952e+04,1.430721,0.008335,0.241935,...,7.593527,1747.454969,304.148625,1967.271163,90.550769,98078.039186,47.560119,-122.214299,1973.111712,13301.207621
std,2667.213902,2.866354e+09,3.759319e+05,0.911279,0.763034,908.09607,4.541467e+04,0.510808,0.090921,0.774602,...,1.170470,805.524539,452.056320,28.003263,415.463180,53.980199,0.140030,0.139273,671.187077,26195.281645
min,0.000000,1.000102e+06,7.500000e+04,0.000000,0.000000,241.00000,5.720000e+02,1.000000,0.000000,0.000000,...,3.000000,380.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.514000,620.000000,660.000000
25%,2309.500000,2.122059e+09,3.150000e+05,3.000000,1.500000,1410.00000,5.441250e+03,1.000000,0.000000,0.000000,...,7.000000,1180.000000,0.000000,1950.000000,0.000000,98033.000000,47.463025,-122.325000,1490.000000,5439.250000
50%,4619.000000,3.905081e+09,4.450000e+05,3.000000,2.000000,1890.00000,7.910000e+03,1.000000,0.000000,0.000000,...,7.000000,1530.000000,0.000000,1969.000000,0.000000,98065.000000,47.572850,-122.230000,1830.000000,7859.000000
75%,6928.500000,7.283900e+09,6.390000e+05,4.000000,2.500000,2500.00000,1.117450e+04,2.000000,0.000000,0.000000,...,8.000000,2130.000000,600.000000,1990.000000,0.000000,98118.000000,47.679475,-122.127000,2340.000000,10376.750000
max,9238.000000,9.842301e+09,7.700000e+06,11.000000,8.000000,12050.00000,1.651359e+06,3.500000,1.000000,4.000000,...,13.000000,8570.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,5790.000000,438213.000000

## Условие 3: 3 задача

### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [19]:
df['price'].min(), df['price'].max()

(75000.0, 7700000.0)

### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [20]:
print(f"Доля жилой площади от всей площади по всем домам составляет {round(df['sqft_living'].mean()*100 / df['sqft_lot'].mean(),2)}")

Доля жилой площади от всей площади по всем домам составляет 12.76

### 3.3 Как много домов с разными этажами в данных?

In [21]:
df['floors'].value_counts()

1.0    5007
2.0    3122
1.5     886
3.0     157
2.5      65
3.5       1
Name: floors, dtype: int64

### 3.4 Насколько хорошие состояния у домов в данных?

In [22]:
df['condition'].value_counts()

3.0    5722
4.0    2638
5.0     790
2.0      76
1.0      12
Name: condition, dtype: int64

### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [41]:
df['yr_built'].min(), df['yr_built'].max()

(1900.0, 2015.0)

## Условие 4: 4 задача

### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [24]:
df[df['bedrooms'] == 2]['price'].mean()

401170.9202401372

### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [25]:
df[df['price'] > 600000]['sqft_lot'].mean()

22210.805862200228

### 4.3 Как много домов коснулся ремонт?

In [26]:
df[(df['yr_renovated']!= 0)].shape[0]

420

### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [30]:
price_grade_10 = df[df['grade'] > 10]['price'].mean()
price_grade_10

1706131.6971153845

In [32]:
price_grade_4 = df[df['grade'] < 4]['price'].mean()
price_grade_4

205666.66666666666

In [33]:
price_grade_10 - price_grade_4

1500465.0304487178

## Условие 5: 5 задача

### 5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [39]:
df[(df['bathrooms'] > 3) & (df['waterfront'] == 1) & (df['sqft_basement'] != 0)].shape[0]

15

### 5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [55]:
condition = ((df['view'] ==4) | (df['waterfront'] == 1)) & (df['yr_built'] > 1980) & (df['condition'] == 5)

In [56]:
client_choice = df[condition]

In [57]:
client_choice['price'].max(), client_choice['price'].min()

(nan, nan)

### 5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [61]:
client_choice = df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000)]
client_choice['condition'].mean()

3.0